doctype html
html
	head
		meta(charset="utf-8")
		title 用户注册页
		script(type="text/javascript" src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js")
		script(type="text/javascript" src="/public/js/register.js")
	body
		h1 用户注册
		input(placeholder="请输入昵称" id="user_name")
		input(placeholder="请输入手机号" id="user_id")
		input(placeholder="请输入密码" id="pass_word")
		button 提交
